<!--------------- CESKA POSTA - balik na postu --------------->
<link rel="stylesheet" type="text/css" href="{$css}/style.css" />
<script src="{$js}/script.js"></script> 
<script src="{$js}/anyTitle.js"></script> 
<!--------------- EOF CESKA POSTA - balik na postu --------------->
